@import "./rose-pine.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#clock, #cpu, #memory, #network, #pulseaudio, #tray, #workspaces, #window, #custom-updates {
	background: rgba(25, 23, 36, 0.8);
    border: 1px solid @muted;
	padding: 4px 10px;
    margin: 5px 5px;
	margin-top: 10px;
	border-radius: 10px;
	color: @text;
}

#cpu, #memory, #custom-updates, #pulseaudio {
	padding-right: 15px;
}

#workspaces {
	margin-left: 20px;
	padding: 4px 5px;
}

#workspaces button {
	color: @muted;
}

#workspaces button.active {
	color: @text;
}

#network {
	padding-right: 20px;
	margin-right: 20px;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}


